<div class="chat-container">

  <div class="messages">
    <div *ngFor="let msg of messages" class="msg-row" 
     [ngClass]="msg.sender">

  <img *ngIf="msg.sender === 'ai'" 
       src="https://cdn-icons-png.flaticon.com/512/4712/4712100.png"
       class="avatar">

  <div class="bubble">
    {{ msg.text }}
  </div>

</div>
    <div *ngIf="isTyping" class="typing">
        <span></span><span></span><span></span>
    </div>
  </div>

  <div class="input-box">
    <input [(ngModel)]="question" placeholder="Ask anything…" />
    <button (click)="send()">Send</button>
  </div>

</div>

